<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>MS AI 631 - M92 Project - Hello World</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
	<H1>Hello World!</H1>
</body>

</html>